---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&family=Varela+Round&display=swap');

:is(h1,h2,h3,h4,h5,h6) {
  font-family: 'Varela Round', sans-serif;
  margin-top: 2em;
}

header h1 {
  font-family: 'Varela Round', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  background: none;
  background-color: #f76c6c;
  padding: 40px;
  min-height: 0;
}

#banner #logo {
  background: none;
  background-size: cover;
  background-image: url(../images/logo.png);
  z-index: 2;
}

#banner .fork {
  display: none;
}

nav {
  margin-left: 0;
  left: 0;
}

.wrapper {
 width: calc(100% - 600px);
}

.wrapper > section {
  width: auto;
}

footer {
  position: relative;
  margin-left: 0;
  bottom: auto;
  left: auto;
  text-align: center;
}